# Configuração do ambiente
NODE_ENV=development

# Configurações do servidor
PORT=3000

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configurações de Rate Limiting
# Em minutos
RATE_LIMIT_WINDOW=1
RATE_LIMIT_MAX=5
